* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question-group {
    margin-top: 1em;
    background-color: #EEE;
    padding: 1em;
    border-bottom: 1px solid #DDD;
    margin-bottom: 1em;
    & input {
        font-size: 0.8em;
        height: 30px;
        width: 350px;
        display: block;
        margin-bottom: 1em;
    }
}

.flash-card {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid black;
    width: 500px;
}